.idea/
media/js
package-lock.json
releases/
gulp-config.json
node_modules
Thumbs.db
Desktop.ini
.DS_Store
._*
.Spotlight-V100
.Trashes
*.sublime*
.buildpath
.project
.settings
*.tmp
*.bak
*.swp
*~.nib
*~

!.gitignore
!index.html